body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: hsl(349, 90%, 77%);
}

/* CSS untuk tombol link */
.link-button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color:hsl(349, 90%, 77%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: hsl(349, 90%, 77%);
}

/* CSS untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: hsl(349, 90%, 77%);
    color: white;
}